@page "/employee/edit/"
@page "/employee/edit/{id:int}"

<h3>Employee Edit</h3>

<div class="container">
    <EditForm Model="@Employee">
        <div class="row mb-3">
            <label for="tbLastName">Last name:</label>
            <div class="col-md-8">
                <InputText id="tbLastName" @bind-Value="@Employee.LastName" placeholder="Enter last name" class="form-control col-md-8"></InputText>
            </div>
        </div>
        <div class="row mb-3">
            <label for="tbFirstName">First name:</label>
            <div class="col-md-8">
                <InputText id="tbFirstName" @bind-Value="@Employee.FirstName" placeholder="Enter first name" class="form-control col-md-8"></InputText>
            </div>
        </div>
        <div class="row mb-3">
            <label for="tbImage">Image:</label>
            <div class="col-md-8">
                <InputText id="tbImage" @bind-Value="@Employee.Image" placeholder="Enter image URL" class="form-control col-md-8"></InputText>
            </div>
        </div>
    </EditForm>
</div>