@page "/employees"
<h3>List of our employees</h3>

<EmployeePopup></EmployeePopup>
<div class="row">
    @foreach (var employee in Employees) {
        <div class="col-12">
            <EmployeeCard InputEmployee="employee"></EmployeeCard>
        </div>
    }
</div>
